{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    {# <form action="{{ path('app_login') }}" method="post">
        <div id="login-form"></div>
        <button type="submit">Login</button>
    </form>
    
    <a href="{{ path('app_register') }}">Neturite paskyros?</a> #}

    <div id="login-form"></div>

    

{% endblock %}